* {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	background: transparent;
}
body {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	background: black;
}
#wrapper {
	width: 960px;
	height: auto;
	margin: 10px auto;
	height: auto;
}
#banner{
	width: 100%;
	border-radius: 5px;
	height: auto;
}
.top-menu{
    background-color: beige;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 100px;
    margin-bottom: 8px;
}
.title-header{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 10px #554e52;
}
.img-header{
    display: flex;
    
}
.img-item{
    height: 90px;
    padding-right: 25px;
}
#header{
	background: maroon;
	width: 100%;
	height: 100px;
	margin: 10px auto;
}
#header p {
	text-align: right;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	color: rgb(245, 245, 247);
	font-style: italic;
	padding: 5px 0;
}
ul {
	list-style: none;
}
.btn-tg{
	display: inline-block;
	padding: 12px 35px;
	}
.btn-inner{
    padding: 8px 35px;
    background-color: blanchedalmond;
    border-radius: 5px;
    border: 1px solid aqua;
    color: maroon;
}
.btn-inner:hover{
    background-color: #c1bfbf;
}
a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	color: rgb(0, 0, 0);
	font-style: bold;
	padding: 2px 4px;
}
a:hover {
	color: blue;
}
#container {
	width: 100%;
}
#content {
	width: 720px;
	height: 600px;
	background: white;
	display: inline-block;
}

#xuanquynh {
	width: auto;
	height: 25%;
	overflow: scroll;
}
#xuanquynh h1 {
	width: auto;
	background: rgb(56, 107, 56);
	color: white;
	text-transform: uppercase;
	text-align: center;
	padding: 5px 0;
}
#xuanquynh p {
	text-align: justify;
	margin: 4px 4px;
	padding: 5px 2px;
	font-size: 18px;
}
#content img {
	width: 100px;
	height: 120px;
	display: block;
	float: left;
	margin: 4px 4px;
	padding: 2px 2px;
}
#rightbar {
	width: 236px;
	height: 600px;
	background: white;
	overflow: auto;
	float: right;
}
#intro {
	width: auto;
	height: 30%;
	overflow: scroll;

}
#intro h1 {
	width: auto;
	background: #ccc;
	color: rgb(2, 2, 2);
	text-transform: uppercase;
	text-align: center;
}
#intro p {
	text-align: center;
	font-size: 17px;
	letter-spacing: 1px;
}
.intro-img {
	width: 210px;
	height: 260px;
	margin: 2px 2px;
	padding: 2px 2px;
}
.footer{
	background-color: maroon;

}